body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    color: #eee;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }
  
  